@model ConferenceManager.Core.Entities.Participant

@{ ViewData["Title"] = "Create Participant"; }

<h1>Register Participant</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group mb-3">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control" />
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>